@import url('https://fonts.googleapis.com/css?family=Lora:700|Rosario|Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Playfair+Display');
:root {
    --landing-text: #343434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-header {
    display: none;
}

img {
    width: 100%;
}

.full-width {
    width: 100%;
}

.heading {
    font-family: 'Lora', serif;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.full-height {
    height: 100vh;
}

.page-heading {
    padding-top: 5vh;
    min-height: 50vh;
}

.landing-container {
    width: 100%;
    background: #E9C2BB;
    background: -moz-linear-gradient(-45deg, #E9C2BB 0%, #E4BFB7 100%);
    background: -webkit-linear-gradient(-45deg, #E9C2BB 0%, #E4BFB7 100%);
    background: linear-gradient(135deg, #E9C2BB 0%, #E4BFB7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9C2BB', endColorstr='#E4BFB7', GradientType=1);
}

.colour-1 {
    color: #eee;
    background: #6989A2;
    background: -moz-linear-gradient(-45deg, #6989A2 0%, #7698B1 100%);
    background: -webkit-linear-gradient(-45deg, #6989A2 0%, #7698B1 100%);
    background: linear-gradient(135deg, #6989A2 0%, #7698B1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6989A2', endColorstr='#7698B1', GradientType=1);
}

.starry-background {
    color: #fff;
    background-color: #000;
    background: url("../img/starry-back.jpg") 50% 50%;
}

.review-background {
    background: #f7f7f7;
}

.landing-background {
    width: 100%;
    height: 100%;
    background: url("../img/landing.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.menu-mobile {
    z-index: 5;
    width: 100%;
    height: 50px;
    padding: 11px;
    display: none;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
}

.content {
    /* min-height: 800px; */
    padding: 30px 0px;
}

.section-title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 4.5em;
}

.section-title::before {
    content: '';
    display: block;
    width: 15%;
    margin-left: 0px;
    border-top: 10px solid #999;
}

.section-title::after {
    content: '';
    display: block;
    width: 15%;
    margin-left: 85%;
    border-top: 10px solid #999;
    margin-bottom: 50px;
}

.footer {
    min-height: 50px;
    text-align: center;
    padding: 50px 0;
    /* -webkit-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75); */
    /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05); */
}

.footer::before {
    content: '';
    display: block;
    width: 50%;
    margin-left: 25%;
    border-top: 1px solid #999;
    margin-bottom: 50px;
}

.footer-container {
    margin: 0 auto;
}

.separator {
    content: "";
    margin: 0 auto;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid #787878;
}

.high {
    z-index: 2;
    /* border-top: 1px solid #787878; */
    /* -webkit-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75); */
    /* -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05); */
}

.low {
    z-index: 1;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: calc(100% - 90px);
    padding: 50px;
}

.logo-container {
    display: inline-block;
    background: url(../img/logo.svg) no-repeat 50% 50%;
    background-size: cover;
    width: 120px;
    height: 25px;
    min-width: 120px;
}

.desktop .logo-container {
    margin: 17px;
}

.load-frame {
    position: relative;
    z-index: 3;
    background: #D4B7A2;
}

.main-content {
    display: none;
}

.inner-wrapper {}

.message-container {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 10px;
    font-size: 250%;
    color: var(--landing-text);
}

.title-container {
    font-family: 'Playfair Display', serif;
    font-size: 700%;
    color: var(--landing-text);
    line-height: 1.1em;
    font-weight: 500;
}

.raleway {
    font-family: 'Raleway';
}

.justify {
    text-align: justify !important;
    text-justify: inter-word !important;
}

.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.small {
    font-size: 200%;
}

.extra-small {
    font-size: 150%;
}

.medium {
    font-size: 500%;
}

.extra-large {
    font-size: 1000%;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.number {
    transform: translateY(-25%);
}

/* Experimental */

.vertical-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: column;
}

.vertical-center-row {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.column,
.columns {
    text-align: center;
    margin: 10px auto;
    vertical-align: middle;
}

.bordered .column,
.bordered .columns {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    color: #676767;
}

/* Desktop Navbar (by Codrops) */

nav a {
    position: relative;
    display: inline-block;
    /* margin: 15px 25px; */
    outline: none;
    color: #454545;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.cl-effect-9 {
    float: right;
    padding-right: 15px;
}

.cl-effect-9 a {
    margin: 0 -15px 0 0;
    padding: 18px 20px;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: none;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
}

.cl-effect-9 a::after {
    top: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-9 a span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
}

.static .cl-effect-9 a span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.menu-popup .cl-effect-9 a span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
    background: #454545;
    height: 6px;
}

.static .cl-effect-9 a:hover::before,
.static .cl-effect-9 a:hover::after,
.static .cl-effect-9 a:focus::before,
.static .cl-effect-9 a:focus::after,
.menu-popup .cl-effect-9 a:hover::before,
.menu-popup .cl-effect-9 a:hover::after,
.menu-popup .cl-effect-9 a:focus::before,
.menu-popup .cl-effect-9 a:focus::after {
    background: #454545;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.static .cl-effect-9 a:hover span:last-child,
.static .cl-effect-9 a:focus span:last-child,
.menu-popup .cl-effect-9 a:hover span:last-child,
.menu-popup .cl-effect-9 a:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}

/* For desktop static menu bar */

.top-bar {
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}

.static {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    display: inline-flex;
}

.scrolling {
    justify-content: space-between;
    display: inline-flex;
    padding-bottom: 8px;
    z-index: 5;
    width: 100%;
    position: fixed;
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
    transition: visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
    -o-transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-end;
    transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-end;
    transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
}

.desktop .active {
    visibility: visible;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
    transition: visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
    -o-transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-start;
    transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-start;
    transition: transform 300ms cubic-bezier(.694, 0, .335, 1), visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(.694, 0, .335, 1);
}

/* Search Bar styling */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.search-container {
    display: inline-flex;
    float: left;
    margin-top: 11px;
    height: 44px;
    border: 2px #454545 solid;
    transition: border 0.5s, background 0.5s;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-container:focus-within {
    border: 2px #267dce solid;
    background: #fff;
}

.search-container input[type="text"] {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    border-radius: 0px;
    border: none;
    width: 20vw;
}

.search-container input[type="text"]:focus {
    outline: none;
    border: none;
}

.search-container .search-button {
    width: 20px;
    height: 38px;
    margin-right: 8px;
}

.search-container .search-button svg {
    margin-top: 7px;
}

.mobile .search-button {
    transform: translateY(5%);
    width: 25px;
}

.mobile .search-button:hover {
    background: #eee;
}

/* Cart Icon */

.cart-icon {
    color: #fff;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
    background: url(../img/cart.svg) no-repeat 50% 50%;
    background-size: cover;
    height: 44px;
    width: 44px;
    margin-top: 11px;
    min-width: 44px;
    margin-left: 15px;
}

.mobile .cart-icon {
    height: 25px;
    width: 25px;
    margin-top: 0;
    min-width: 25px;
    margin-left: 0;
}

.cart-icon:hover {
    opacity: 0.7;
}

.cart-count {
    text-align: center;
    transform: translateX(10%);
}

.mobile .cart-count {
    height: 25px;
    transform: translateX(99%);
    background: #000;
}

.nav-container {
    margin: 0 15px;
    display: inherit;
}

/* Mobile Nav */

.hamburger {
    width: 25px;
    height: 25px;
    background: url("../img/menu-icon.svg");
    cursor: pointer;
    background-size: cover;
}

.menu-popup {
    display: none;
    position: fixed;
    z-index: 5;
    height: calc(100vh - 50px);
    width: 100%;
    background: #fff;
}

.mobile .active {
    display: flex;
    align-items: center;
}

.menu-popup .cl-effect-9 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Avatar */

.avatar-container {}

/* Discussion Styles */

.no-padding {
    padding: 0;
}

#discussion-search {
    margin-left: 65vh;
}

.discussion {
    display: block;
    margin-bottom: 3vh;
    padding: 7px 12px 15px 12px;
    background-color: #f3ede9;
    border: 1px solid black;
}

.discussion-title {
    text-align: justify;
    font-size: 1.5em;
    text-transform: uppercase;
}

.discussion-post {
    padding: 7px 12px;
    background-color: #fff;
    border: 1px solid black;
}

.discussion-text {
    margin: 0 0 2vh 0;
    text-align: justify;
}

.discussion-user {
    margin: 0;
    text-align: right;
    font-style: italic;
}

.discussion-comment {
    margin: 2vh 40vmin 0 10vmin;
    padding: 7px 12px;
    background-color: #fff;
    border: 1px solid black;
    text-align: justify;
}

.discussion-form {
    margin: 0;
}

.discussion-new-comment {
    margin: 2vh 40vmin 0 10vmin;
    padding: 7px 12px 0 12px;
    background-color: #fff;
    border: 1px solid black;
    text-align: justify;
}

.discussion-comment-input {
    display: block;
    margin: 0;
}

.comment-area {
    width: 100%;
    height: 40vh !important;
}

.discussion-comment-input-submit-button {
    margin-top: 2vh;
}

.discussion-new-discussion {
    padding: 7px 12px 0 12px;
    background-color: #f3ede9;
    border: 1px solid black;
    text-align: justify;
}

#read-more-button {
    margin-bottom: 3vh;
}

.hidden-discussion {
    display: none;
}

@media only screen and (max-width: 600px) {

    #discussion-search {
        margin-left: 0;
    }

    #discussion-search .search-container {
        width: 100%;
    }

    #discussion-search input {
        width: 90%;
    }

    .discussion-new-comment {
        margin-right: 0;
    }

    .discussion-comment {
        margin-right: 0;
    }

}

/* Shop Styling */

.product-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    max-width: 300px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    margin: 30px;
}

.image-container img {
    width: auto;
}

.product-card-footer {
    height: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

.product-card-footer .button {
    margin: 0 0 0 10px;
    height: 100%;
}

.image-container {
    max-height: 350px;
}

.product-card-title {
    padding: 0 10px;
    margin: auto 0;
}

/* Designer Styling */

input[type="file"] {
    display: none;
}

.design-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.design-tool-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tshirt-holder {
    position: relative;
    width: 100%;
}

.bordered-image {
    border: 5px solid #efefef;
}

.add-to-cart-big {
    color: #fff !important;
    border-color: #29a745 !important;
    background: #28a745 !important;
}

.add-to-cart-big:hover {
    color: #fff !important;
    border-color: #7fc98f !important;
    background: #7fc98f !important;
}

/* Login Form Styling */

.access-code-input {
    height: 50px;
    text-align: center;
    transition: border 0.5s;
    padding: 10px;
    border: 5px #ddd solid !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    transform: translateY(-0.5rem);
}

.access-code-input:focus {
    outline: none;
    border: 5px #267dce solid !important;
}

.validate {
    border: 5px #267dce solid !important;
}

.success {
    border: 5px #2eec96 solid !important;
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right;
    background-origin: content-box;
}

.error {
    border: 5px #f00 solid !important;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right;
    background-origin: content-box;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown+label {
    opacity: 0;
    transform: translateY(1rem);
}

.input-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.signup-now-container {
    width: 100%;
}

.signup-now-container::before {
    content: '';
    display: block;
    width: 50%;
    margin-top: 25px;
    margin-left: 25%;
    border-top: 1px solid #999;
    margin-bottom: 20px;
}

@media (min-width: 400px) {
    .login-container {
        min-width: 300px;

    }
}

/* Contact Page Styling */

.contact {
    margin-top: 5vh;
    text-align: justify;
}

.map {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: none !important;
    text-align: right;
    border: 0;
}

.contact-form {
  margin-top: 10vh;
}

.contact-form-label {
  width: 8%;
  display: inline-block;
  padding-right: 3vmin;
  text-align: right;
}

.contact-form-input {
  width: 40%;
}

#contact-form-message {
  height: 30vh;
}

@media screen and (max-width: 600px) {

  .contact-form-label {
    margin-left: 10%;
    display: block;
  }

  .contact-form-input {
    width: 80%;
  }

}

/* Reviews Styling */

.review-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.review-card {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    background: #fff;
    margin: 30px;
    flex-direction: row;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.review-image-container img {
    width: 65%;
}

.review {
    margin: 10px 0;
    /* width: 100%; */
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

.review .button {
    margin: 0 0 0 10px;
    height: 100%;
}

.review-image-container {
    /* max-height: 350px; */
    margin: 30px 0;
}

.review-card-title {
    padding: 0 10px;
    margin: auto 0;
}

@media (max-width: 550px) {
    .review-image-container img {
        width: 35%;
    }

    .review-card {
        flex-wrap: wrap;
    }
}

/* FAQ Styling */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid #ddd;
}

.faq-collapse .active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.faq-collapse .active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Newsletter Bar Styling */

.newsletter-bar {
    z-index: 5;
    width: 100%;
    height: 50px;
    padding: 11px;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
}

.newsletter-bar > div {
    margin: 0 10px;
}

.newsletter-email-input {
    height: 40px;
    text-align: center;
    transition: border 0.5s;
    padding: 7px;
    border: 2px #ddd solid !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    transform: translateY(-0.5rem);
}

.newsletter-email-input:focus {
    outline: none;
    border: 2px #267dce solid !important;
}

.bar-close-button {
    align-items: center;
    width: 25px;
    height: 25px;
    background: #000;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
}

/* Loading Page Styling */

#loading-container {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f4f4f4 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f4f4f4 100%);
    background: linear-gradient(135deg, #ffffff 0%, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1);
}

#loading-container .logo-container {
    display: inline-block;
    content: '';
    -webkit-mask: url("../img/logo.svg") no-repeat 50% 50%;
    mask: url("../img/logo.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #000000;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.progress-bar-container {
    height: 20px;
    width: 60%;
    margin: 0 auto;
}

.progress-bar-background {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
}

.progress-bar {
    margin: auto 4px;
    height: 12px;
    width: 0%;
    border-radius: 6px;
    background: #2eec96;
    transition: width 2s ease-in-out;
}

#loading-message .number {
    transform: translateY(-25%);
    line-height: 0.8em;
}

#loading-message .small {
    font-size: 220%;
}

#loading-message {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

/* For mobile */

@media (max-width: 450px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .footer {
        margin-bottom: 50px;
    }
    .vertical-center {
        display: block;
    }
    .menu-mobile {
        display: inline-flex !important;
    }
}

/* For phablet (also point when grid becomes active) */

@media (max-width: 550px) {
    .vertical-center-column,
    .vertical-center-row {
        display: block;
    }
}

/* For tablet */

@media (min-width: 1024px) {}
